body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  width: 8000px;
  height: 8000px;
}

span:hover {
  outline: 1px gray solid;
}

.draggable {
  position: absolute;
  cursor: grab;
  background: none;
  /* display: block ruby; */
}

.resizable {
  /* width: 150px;
      height: 150px; */
  padding: 0.2em;
}

.ui-widget-content {
  border: none;
}

.ui-selected {
  outline: 1px red dotted;
}

.non-selectable,
main {
  position: unset !important;
  outline: unset !important;
}

.ui-selectable-helper {
  position: absolute;
  outline: 1px rgb(0, 0, 0) dotted;
}

/* SIDEBAR */
aside {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  width: 350px;
  height: 100vh;
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  z-index: 101;
  box-shadow: 2px 0px 10px #747474;
}

/* MENU */
#menu {
  position: fixed;
  top: 20px !important;
  left: 20px !important;
}

#selectWrapper {
  width: 200px;
}

#textArea,
#dropArea {
  width: 250px;
  height: 100px;
}

#regex {
  width: 250px;
  display: none;
}

/* MINIMAP */
#map {
  position: fixed !important;
  width: 300px;
  bottom: 20px !important;
  left: 20px !important;
  top: unset !important;
  height: 100%;
  z-index: 100;
}
